.tag {
  margin: 0px 1px;
  padding: 1px 2px;
  display: inline-block;
}

.tagContainer {
  border-top: 2px solid black;
  padding-top: 5px;
  line-height: 1.5;
  max-width: 500px;
}

@media only screen and (max-width: 500px) {
  .tagContainer {
    max-width: 95vw;
  }
}
