#projectsContainer {
  padding: 10px 0px;
  border-bottom: 2px solid black;
}

.postSummary {
  display: inline;
}

.post {
  margin-bottom: 60px;
}

.postImageContainer {
  width: 500px;
}

.postImage {
  max-width: 500px;
}

@media only screen and (max-width: 500px) {
  .postImageContainer {
    width: 95vw;
  }

  .postImage {
    max-width: 95vw;
  }
}
